---
import { Icon } from "astro-icon/components";
import { Page } from 'astro';
import { CollectionEntry, getCollection } from 'astro:content'
import relativeUrl from "../urlHelper.js";

interface Props {
	page: Page<CollectionEntry<'posts'>>;
}

const { page } = Astro.props;

---

<nav class="flex border rounded flex-shrink mt-2">
	{ page.url.prev && <div>
		<a href={ relativeUrl(page.url.prev) } class="py-2 px-3 flex justify-center items-center hover:bg-gray-100 focus:bg-gray-100 active:bg-gray-200 focus:ring focus:ring-blue-500 focus:outline-none active:outline-none rounded-l">
			<Icon name="bi:arrow-left" class="mr-2 w-4 h-4" /> Page { page.currentPage - 1 }
		</a>
	</div> }
	<div class="flex grow justify-center items-center px-3 py-2">
		Page { page.currentPage } of { page.lastPage }
	</div>
	{ page.url.next && <div>
		<a href={ relativeUrl(page.url.next) } class="py-2 px-3 flex justify-center items-center hover:bg-gray-100 focus:bg-gray-100 active:bg-gray-200 focus:ring focus:ring-blue-500 focus:outline-none active:outline-none rounded-r">
			Page { page.currentPage + 1 } <Icon name="bi:arrow-right" class="ml-2 w-4 h-4" />
		</a>
	</div> }
</nav>

<!-- <nav class="flex">
	<ul class="border flex rounded flex-shrink">
		
		{ page.url.prev && <li>
			<a href={ relativeUrl(page.url.prev) } class="py-6 w-10 flex justify-center items-center">{ page.currentPage - 1 }</a>
		</li> }
		<li>
			<a href={ relativeUrl(page.url.current) } class="py-6 w-10 flex justify-center items-center">{ page.currentPage }</a>
		</li>
		{ page.url.next && <li>
			<a href={ relativeUrl(page.url.next) } class="py-6 w-10 flex justify-center items-center">{ page.currentPage + 1 }</a>
		</li> }
	</ul>
</nav> -->

<!-- <li>
	<a href="#" class="py-6 w-10 flex justify-center items-center"><Icon name="bi:box-arrow-in-left" class="w-4 h-4" /></a>
</li>
<li>
	<a href="#" class="py-6 w-10 flex justify-center items-center border-l"><Icon name="bi:arrow-left" class="w-4 h-4" /></a>
</li>
<li>
	<a href="#" class="py-6 w-10 flex justify-center items-center border-l"><Icon name="bi:arrow-right" class="w-4 h-4" /></a>
</li>
<li>
	<a href="#" class="py-6 w-10 flex justify-center items-center border-l"><Icon name="bi:box-arrow-in-right" class="w-4 h-4" /></a>
</li> -->
