---
import { Icon } from 'astro-icon'
import { CollectionEntry, getCollection } from 'astro:content'
import relativeUrl from '../../components/urlHelper.js'
import ArchiveIndex from '../../layouts/ArchiveIndex.astro'

const blogEntries = await getCollection('posts')

const categories: { [index: string]: CollectionEntry<'posts'>[] } = {}
	
blogEntries.forEach(post => {
	const category = post.data.category 
	if (!categories[category]) {
		categories[category] = []
	}
	categories[category].push(post)
})
---

<ArchiveIndex title="Category">
	<div class="flex flex-wrap">
		{ Object.keys(categories).map(category => (<>
			<a href={ relativeUrl('/category/' + category.toLowerCase()) } class="flex flex-row px-4 py-2 border shadow rounded hover:shadow-lg focus:shadow-lg focus:outline-none focus:ring-2 focus:ring-blue-500 active:shadow-lg active:bg-gray-100 transition mr-2 mb-2" >
				<Icon name="octicon:file-directory-16" class="w-6 h-6 mr-2"></Icon>
				<div class="-mt-[.1rem] align-middle text-lg font-semibold mr-2">{ category }</div>
				<div class="mt-[.2rem] text-sm text-gray-500">{ categories[category].length } posts</div>
			</a>
		</>)) }	
	</div>
</ArchiveIndex>
