---
import { type MarkdownHeading } from 'astro'
import TableOfContentsChildren from './TOC1Child.astro'

export interface Props {
	headings: MarkdownHeading[]
}

export interface LeveledMarkdownHeading extends MarkdownHeading {
	children: LeveledMarkdownHeading[]

}

const minLevel = 2
const maxLevel = 6

let { headings: headingsRaw } = Astro.props

const headings: LeveledMarkdownHeading[] = []

// console.log(1, headings)

headingsRaw.forEach(heading => {
	let currentHeadings = headings
	// console.log(heading.depth, currentHeadings)
	for (var i = minLevel; i < heading.depth; i++) {
		// console.log("LOOP " + i)
		if (currentHeadings.length === 0) currentHeadings.push({
			text: '',
			slug: '',
			depth: i,
			children: [],
		})
		currentHeadings = currentHeadings[currentHeadings.length - 1].children
	}
	currentHeadings.push({
		...heading,
		children: []
	})
})
---

<div id="toc" class="-ml-6">
	<TableOfContentsChildren headings={headings} />
</div>

<script>
import scrollSpy from 'simple-scrollspy'

const el = document.querySelector('#toc')
console.log(el)

scrollSpy(el, {
  sectionClass: 'main h2, main h3, main h4, main h5, main h6',
  menuActiveTarget: '#toc a',
  offset: -50,
})
</script>