---
import { type MarkdownHeading } from 'astro'

export interface Props {
	headings: LeveledMarkdownHeading[]
}

export interface LeveledMarkdownHeading extends MarkdownHeading {
	children: LeveledMarkdownHeading[]
}

const minLevel = 2
const maxLevel = 6

let { headings } = Astro.props
---


<ul class="ml-6">
	{ headings.map(heading => (<>
		<li>
			<a href={ "#" + heading.slug } class="block -mx-2 px-2 py-1 mt-0.5 rounded transition active:bg-gray-100 hover:bg-gray-100">{ heading.text }</a>
			{ heading.children.length > 0 && ( <>
				<Astro.self headings={heading.children} />
			</> ) }
		</li>
	</>)) }	
</ul>
