---
import { type MarkdownHeading } from 'astro'

export interface Props {
	headings: LeveledMarkdownHeading[]
}

export interface LeveledMarkdownHeading extends MarkdownHeading {
	children: LeveledMarkdownHeading[]
}

const minLevel = 2
const maxLevel = 6

let { headings } = Astro.props
---


<ul class="ml-6">
	{ headings.map(heading => (<>
		<li>
			<a href={ "#" + heading.slug }>{ heading.text }</a>
			{ heading.children.length > 0 && ( <>
				<Astro.self headings={heading.children} />
			</> ) }
		</li>
	</>)) }	
</ul>

<style>

	a {
		@apply block mt-0.5 rounded transition;

		&:hover {
			@apply underline
		}
	}


</style>