---
import { Page } from 'astro';
import { CollectionEntry, getCollection } from 'astro:content'
import PostPreview from './Post.astro';

interface Props {
	posts: CollectionEntry<'posts'>[];
}

const { posts } = Astro.props;
---

<div class="grid gap-2 grid-cols-1 sm:grid-cols-2">
	{ posts.map(post => (<>
		<PostPreview post={ post }/>
	</>)) }
</div>
