---
import Default from '../layouts/Default.astro'
import { SITE_TITLE, SITE_DESCRIPTION } from '../config'
import Icon from 'astro-icon'

import { getCollection } from 'astro:content'
import PostPreviewGrid from '../components/PostPreview/Grid.astro'
import PaginationDummy from '../components/Pagination/Dummy.astro'
import relativeUrl from '../components/urlHelper.js'

const blogEntries = await getCollection('posts')
blogEntries.sort((a, b) => b.data.date.getTime() - a.data.date.getTime()).slice(0, 10)

---

<Default
	title=""
	description="Welcome to my blog! This is where I will drop my articles and texts about anything: programming, gaming, or other interesting topics. This blog is mainly built with Astro and Tailwind CSS, and it is work in progress, so stay tuned."
>

<section class="bg-gradient-to-br from-slate-700 to-slate-500 text-white">
	<div class="container mx-auto max-w-[1140px] flex flex-col md:flex-row justify py-12 w-full justify-center md:justify-between">
		<div class="flex flex-col justify-center">
			<h1 class="text-7xl font-bold mb-6">Blog of Hans</h1>
			<p>Welcome to my blog! This is where I will drop my articles and texts about anything: programming, gaming, or other interesting topics.</p>
			<p>This blog is mainly built with Astro and Tailwind CSS, and it is work in progress, so stay tuned.</p>
		</div>
		<div class="flex flex-col justify-center mt-4 md:mt-0 md:ml-4">
		</div>
	</div>
</section>

<section class="container mx-auto max-w-[1140px] py-12">
	<h2 class="text-5xl font-bold mb-8">Latest</h2>
	<PostPreviewGrid posts={blogEntries.slice(0, 10)} />
	<PaginationDummy lastPage={ Math.ceil(blogEntries.length / 10) } url='/archive/page/2' />
</section>

</Default>