---
import Default from '../layouts/Default.astro'
import { SITE_TITLE, SITE_DESCRIPTION } from '../config'
import Icon from 'astro-icon'

import { getCollection } from 'astro:content'
import PostPreviewGrid from '../components/PostPreviewGrid.astro'
import PaginationDummy from '../components/PaginationDummy.astro'
import baseUrl from '../components/baseUrl.js'

const blogEntries = await getCollection('posts')
blogEntries.sort((a, b) => b.data.date.getTime() - a.data.date.getTime()).slice(0, 10)

---

<Default
	title="Index"
	description="11111"
>

<section class="bg-gradient-to-br from-slate-700 to-slate-400 text-white">
	<div class="container mx-auto max-w-[1140px] min-h-[240px] flex flex-col md:flex-row justify py-4 w-full justify-center md:justify-between">
		<div class="flex flex-col justify-center">
			<h1 class="text-7xl font-bold mb-6">Blog of Hans</h1>
			<p>Welcome to my blog! This is where I will drop articles and texts that I want.</p>
			<p>This blog is mainly built with Astro and Tailwind CSS, and it is work in progress, so stay tuned.</p>
		</div>
		<div class="flex flex-col justify-center mt-4 md:mt-0 md:ml-4">
		</div>
	</div>
</section>

<section class="container mx-auto max-w-[1140px] py-12">
	<h2 class="text-5xl font-bold mb-8">Latest</h2>
	<PostPreviewGrid posts={blogEntries} />
	<PaginationDummy lastPage={ Math.ceil(blogEntries.length / 10) } url={ baseUrl((Astro.url.pathname + '/page/2').replace("//", "/")) } />
</section>

</Default>