---
export interface Props extends astroHTML.JSX.AnchorHTMLAttributes {}

const { href, class: className, ...props } = Astro.props

const { pathname } = Astro.url
const isActive = href === pathname || href === pathname.replace(/\/$/, '')
---

<li class="flex items-center">
	<a href={href} class:list={[className, 'py-4 px-2 hover:text-gray-300 active:text-gray-400 animate']} {...props}>
		<slot />
	</a>
</li>