---
import { SITE_AUTHOR } from "../config.js";

const today = new Date();
---

<footer class="py-4 bg-gray-800 text-white">
	<div class="container mx-auto max-w-[1140px]">
		<span class="text-muted">Copyright (c) { today.getFullYear() }, { SITE_AUTHOR }. <a href="{{ site.repository }}">Site repository</a>.</span>
	</div>
</footer>