---
import { Icon } from "astro-icon/components";
import { COMMIT_HASH, COMMIT_HASH_SHORT, COPYRIGHT_YEAR, SITE_AUTHOR, SITE_REPOSITORY } from "../config.js";
---

<footer class="py-4 bg-gray-800 text-white">
	<div class="container mx-auto max-w-[1140px] sm:columns-2">
		<div>
			<p>Copyright © { COPYRIGHT_YEAR } { SITE_AUTHOR }</p>
			<p>Posts licensed under <a class="text-sky-400 hover:underline focus:underline active:text-sky-600" href={ SITE_REPOSITORY + '/blob/master/LICENSE.md' }>CC BY-SA 4.0</a>.</p>
			<p>Code licensed under <a class="text-sky-400 hover:underline focus:underline active:text-sky-600" href={ SITE_REPOSITORY + '/blob/master/LICENSE-code.md' }>MIT License</a>.</p>
		</div>
		<div class="text-right">
			<p>
				<Icon name="simple-icons:github" class="w-4 h-4 inline align-[-.125rem]" /> <a class="text-sky-400 hover:underline focus:underline active:text-sky-600" href={ SITE_REPOSITORY }>Site repository</a>
				<span class="font-black">·</span>
				Revision: <a class="text-sky-400 hover:underline focus:underline active:text-sky-600" href={ SITE_REPOSITORY + '/commit/' + COMMIT_HASH }><code>{ COMMIT_HASH_SHORT }</code></a>
			</p>
			<p><Icon name="bi:envelope-exclamation-fill" class="w-4 h-4 inline align-[-.125rem]" /> Found an issue? <a class="text-sky-400 hover:underline focus:underline active:text-sky-600" href={ SITE_REPOSITORY + '/issues' }>Please report!</a></p>
		</div>
	</div>
</footer>