---
import HeaderLink from './HeaderLink.astro';
import { SITE_TITLE } from '../config';
import relativeUrl from './urlHelper.js';
import { Icon } from 'astro-icon';
import { Image } from 'astro:assets';
import avatar from '../assets/images/avatar.png'
---

<div class="mx-auto max-w-[1140px]">
	<nav class="flex flex-row justify-between items-center">
		<a href={ relativeUrl('/') } class="text-xl p-4 flex flex-row font-bold" aria-label={ SITE_TITLE }>
			<Image class="rounded-sm w-8 h-8 mr-2" src={ avatar } width={ 96 } height={ 96 } format="webp" alt="Avatar" />
			<Icon name="bi:journal-text" class="w-8 h-8 mr-2" aria-label="Blog" />	
			<p class="hidden sm:block">
				{ SITE_TITLE }
			</p>
		</a>
		<ul class="flex flex-row justify-end pr-2">
			<HeaderLink href="/">Home</HeaderLink>
			<HeaderLink href={ relativeUrl('/archive') }>Archive</HeaderLink>
			<HeaderLink href={ relativeUrl('/rss.xml') } aria-label="RSS Feed"><Icon name="simple-icons:rss" class="w-4 h-4" /></HeaderLink>
		</ul>
	</nav>
</div>