---
import HeaderLink from './HeaderLink.astro';
import { SITE_TITLE } from '../config';
import baseUrl from './baseUrl.js';
import { Icon } from 'astro-icon';
---

<div class="mx-auto max-w-[1140px]">
	<nav class="flex flex-row justify-between">
		<a href={ baseUrl('/') } class="text-xl p-4 flex flex-row font-bold">
			<img class="rounded-sm w-8 h-8 mr-2" src="https://avatars3.githubusercontent.com/u/11584103">
			<Icon name="bi:journal-text" class="w-8 h-8 mr-2" />
			<p class="">
				{ SITE_TITLE }
			</p>
		</a>
		<ul class="flex flex-row justify-end pr-2">
			<li class="py-4 px-2 flex items-center">
				<a href="/">Home</a>
			</li>
			<li class="py-4 px-2 flex items-center">
				<a href={ baseUrl('/archive') }>Archive</a>
			</li>
			<li class="py-4 px-2 flex items-center">
				<a href={ baseUrl('/rss.xml') }><Icon name="simple-icons:rss" class="w-4 h-4" /></a>
			</li>
		</ul>
	</nav>
</div>