---
import { MarkdownHeading } from 'astro';

export interface Props {
	headings: LeveledMarkdownHeading[];
}

export interface LeveledMarkdownHeading extends MarkdownHeading {
	children: LeveledMarkdownHeading[];
}

const minLevel = 2
const maxLevel = 6

let { headings } = Astro.props;
---


<ul class="ml-6">
	{ headings.map(heading => (<>
		<li>
			<a href={ "#" + heading.slug } class="text-gray-500 hover:underline active:underline active:text-gray-800">{ heading.text }</a>
			{ heading.children.length > 0 && ( <>
				<Astro.self headings={heading.children} />
			</> ) }
		</li>
	</>)) }	
</ul>
