---
import { Icon } from 'astro-icon'
import { CollectionEntry, getCollection } from 'astro:content'
import baseUrl from '../../components/baseUrl.js'
import ArchiveIndex from '../../layouts/ArchiveIndex.astro'

const blogEntries = await getCollection('posts')

const tags: { [index: string]: CollectionEntry<'posts'>[] } = {}

blogEntries.forEach(post => {
	const postTags = post.data.tags
	postTags.forEach(tag => {
		if (!tags[tag]) {
			tags[tag] = []
		}
		tags[tag].push(post)
	})
})
---

<ArchiveIndex title="Tag">
	<div class="flex flex-wrap">
		{ Object.keys(tags).map(tag => (<>
			<a href={ baseUrl('/tag/' + tag) } class="flex flex-row px-4 py-2 border shadow rounded hover:shadow-lg focus:shadow-lg focus:outline-none focus:ring-2 focus:ring-blue-500 active:shadow-lg active:bg-gray-100 transition mr-2 mb-2" >
				<Icon name="octicon:hash-16" class="w-6 h-6 mr-2"></Icon>
				<div class="-mt-[.2rem] align-middle text-lg font-semibold mr-2">{ tag }</div>
				<div class="mt-[.1rem] text-sm text-gray-400">{ tags[tag].length } posts</div>
			</a>
		</>)) }	
	</div>
</ArchiveIndex>
