---
import { CollectionEntry, getCollection } from 'astro:content'
import PostPreview from '../components/PostPreview.astro';
import Default from './Default.astro';

interface Props {
	data: CollectionEntry<'posts'>[];
	title: string;
}

const { data, title } = Astro.props;
const titleDisplay = `${title} - Archive`
---

<Default title={ titleDisplay }>
	<section class="container mx-auto max-w-[1140px] py-12">
		<h2 class="text-5xl font-bold mb-8">Archive</h2>
		<div>
			{ data.map(post => (<>
				<PostPreview post={ post }/>
			</>)) }
		</div>
	</section>
</Default>
