---
import BaseHead from "../components/BaseHead.astro";

export interface Props {
	title?: string;
	description?: string;
	coverSrc?: string;
	coverAlt?: string;
	noAnalytics?: boolean;
}

const { title, description, coverSrc, coverAlt, noAnalytics, ...props } = Astro.props;
---

<html lang="en">
	<head>
		<BaseHead title={ title } description={ description } coverAlt={ coverAlt } coverSrc={ coverSrc } noAnalytics={ noAnalytics } />
	</head>

	<body {...props} >
		<slot />
	</body>
</html>
