---
import type { CollectionEntry } from 'astro:content';
import TableOfContents from '../components/TOC/TOC1.astro';
import TableOfContents2 from '../components/TOC/TOC2.astro';
import Default from './Default.astro';
import Giscus from '@giscus/vue'
import relativeUrl from '../components/urlHelper.js';
import { Icon } from "astro-icon/components"
import readingTime from 'reading-time';
import { Image } from 'astro:assets'
import PrettyImage from '../components/PrettyImage.astro'

interface Props {
  post: CollectionEntry<'posts'>;
}

// `post` will match your 'blog' collection schema type
const { post } = Astro.props;
const { Content, headings } = await post.render();

const readingTimeMins = Math.round(readingTime(post.body).minutes)
let readingTimeDisplay: string
if (readingTimeMins === 1) readingTimeDisplay = "1 minute"
else readingTimeDisplay = readingTimeMins + " minutes"
---

<Default title={post.data.title} description={post.data.description} coverSrc={ post.data.cover?.src || relativeUrl('/assets/og/' + post.slug + '.png') } coverAlt={ post.data.coverAlt }>
	
	<article class="container mx-auto max-w-[1140px] py-6 md:grid md:grid-cols-12 gap-x-6 grid-rows-[min-content_min-content_1fr]" itemscope itemtype="http://schema.org/BlogPosting">

		<header class="post-header mb-4 grid col-span-12">
			<h1 class="text-4xl font-bold mb-2" itemprop="name headline">{ post.data.title }</h1>
			<p class="text-gray-500">
				<Icon name="mdi:calendar-blank" class="w-4 h-4 inline align-[-.125rem]" aria-hidden="true" aria-label="Created" />
				<time datetime={ post.data.date.toISOString() } itemprop="dateCreated datePublished">
					{ post.data.date.toLocaleDateString('en-UK', { year: 'numeric', month: 'long', day: 'numeric' }) }
				</time>
				<span class="font-black">·</span>
				{ post.data.dateMod && (<>
					<Icon name="mdi:calendar-edit" class="w-4 h-4 inline align-[-.125rem]" aria-hidden="true" aria-label="Modified" />
					<time datetime={ post.data.dateMod.toISOString() } itemprop="dateModified">
						{ post.data.dateMod.toLocaleDateString('en-UK', { year: 'numeric', month: 'long', day: 'numeric' }) }
					</time>
					<span class="font-black">·</span>
				</>) }
				<Icon name="bi:clock-fill" class="w-4 h-4 inline align-[-.125rem]" aria-label="Time to read" />
				<span>{ readingTimeDisplay }</span>
			</p>
		</header>

		<div class="text-gray-500 hidden md:block md:col-span-3 md:text-sm md:col-start-10 md:row-start-3">
			<div class="md:sticky md:top-4">
				<h3 class="mb-2 pb-2 border-b"><Icon name="mdi:format-list-bulleted-square" class="w-4 h-4 inline align-[-.125rem]" aria-hidden="true" /> Contents</h3>
				<TableOfContents headings={ headings } />
			</div>
		</div>

		<div class="md:col-span-9 md:row-span-2 md:col-start-1 md:row-start-2">
			<div>
				<!-- Main cover image, displayed on normal view -->
				{ post.data.cover &&
					<PrettyImage id="cover-main" itemprop="image" class="mb-3" src={ post.data.cover } alt={ post.data.coverAlt } style="display: none" />
				}
			</div>
			
			<div class="md:hidden text-gray-500 mb-4 p-4 border rounded">
				<h3 class="mb-2 pb-2 border-b"><Icon name="fa6-solid:list" class="w-4 h-4 inline align-[-.125rem]" aria-hidden="true" /> Contents</h3>
				<TableOfContents2 headings={ headings } />
			</div>

			<div class="markdown" itemprop="articleBody">
				<!-- Dummy cover image, displayed on reader view just in case the main not detected (e.g. Firefox) -->
				{ post.data.cover && 
					<PrettyImage id="cover-dummy" class="mb-3 hidden" src={ post.data.cover } alt={ post.data.coverAlt } /> 
				}
				<Content />
			</div>
		</div>

		<div class="text-gray-500 mb-4 md:col-span-3 md:text-sm md:col-start-10 md:row-start-2 mt-4 pt-4 border-t md:mt-0 md:pt-0 md:border-none">
			<p class="mb-1"><Icon name="fa6-solid:hashtag" class="w-4 h-4 inline align-[-.125rem]" aria-hidden="true" /> Tags: { post.data.tags.length === 0 ? <span class="italic">none</span> : <>
				{ post.data.tags.map((tag, i) => <>
					<a class="hover:underline focus:underline active:underline active:text-gray-700" href={ relativeUrl(`/tag/${tag}`) }>{ tag }</a>{ i !== post.data.tags.length - 1 && ', ' }
				</>) } 
			</> }</p>
			<p><Icon name="fa6-solid:folder" class="w-4 h-4 inline align-[-.125rem]" aria-hidden="true" /> Category: <a class="hover:underline focus:underline active:underline active:text-gray-700" href={ relativeUrl(`/category/${post.data.category.toLowerCase()}`) }>{ post.data.category }</a></p>			
		</div>

		<div class="md:col-span-9 md:row-start-4 mt-4 md:pt-4 md:border-t">
			<div>
				<Giscus
					id="comments"
					repo="Hans5958/blog"
					repoId="R_kgDOI1LFVw="
					category="Page comments"
					categoryId="DIC_kwDOI1LFV84CTx32"
					mapping="pathname"
					strict="1"
					reactionsEnabled="1"
					emitMetadata="0"
					inputPosition="top"
					theme="light"
					lang="en"
					loading="lazy"
					client:idle
				/>	
			</div>
		</div>

	</article>

</Default>
