---
import Header from "../components/Header.astro";
import Footer from "../components/Footer.astro";
import Base from "./Base.astro";

let props = Astro.props;
---

<Base { ...props }>
	<Header />
	<main id="content" class="flex-grow">
		<slot />
	</main>
	<Footer />
</Base>
