---
import Header from "../components/Header/Header.astro"
import Footer from "../components/Footer.astro"
import Base from "./Base.astro"
import { BaseProps } from "../config.js"

export interface Props extends BaseProps, astroHTML.JSX.Element {}

let props = Astro.props
---

<Base { ...props } class="h-screen flex flex-col justify-between">
	<Header />
	<main id="content" class="grow" transition:animate="slide">
		<slot />
	</main>
	<Footer />
</Base>
