---
import BaseHead from "../components/BaseHead.astro"
import Header from "../components/Header/Header.astro"
import Footer from "../components/Footer.astro"

export interface Props {
	url?: string
}

let { 
	url = "" 
} = Astro.props
---

<html lang="en">
	<head>
	
		<meta name="robots" content="noindex">
		<meta charset="utf-8">
	
		<title>{ url }</title>
		<link rel="canonical" href={ new URL(url, Astro.site).toString() } />
		<meta http-equiv="refresh" content={ "0; URL=" + url }>
		
	</head>
	
	<body class='p-4'>
	
		<p>Redirecting to <a href={ url } class="text-sky-600 hover:underline focus:underline active:text-sky-900">{ url }</a>...</p>
	
	</body>

</html>
